@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: url('https://i.ibb.co/TLTg9sY/88221705-p0-Copy-3.png');
    
    height: 1000px;
    width: 100%;
    background-size:auto;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    color: white;
    outline-color: black;
    outline-offset: 10em;
    transition: ease all 1s;
    overflow: hidden
}

h1 {
    font-weight: normal;
    font-size: 6rem;
    margin-top: -10rem;
    margin-top: 5rem;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 2rem;
}

.big-text {
    font-weight: bold;
    font-size: 3.7rem;
    line-height: 1;
    margin: 0 2rem;
    transition: ease all 1s;
}

.countdown-element {
    text-align: center;
}

.countdown-element span {
    font-size: 1.5rem;
}

.countdown {
    min-width: 2000px;
    background: #941515;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 0vh;
    position: relative;
    bottom: 10px;
    border-bottom-left-radius: 20rem;
    border-bottom-right-radius: 20rem;
    min-width: 30.5rem;
    min-height: 5px;
    background-color: #941515;
}

.credits {
    border-radius: 50px;
    background-color: #941515;
    font-size: 1.2rem;
    text-align: center;
    position: unset;
    min-width: 20rem;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1.2rem;
    transition: ease all 1s;
}

.credits a {
    color:white ;
    text-decoration: none;
}

.credits a :hover {
    color: rgb(24, 20, 20);
}

.miroshinserver {
    border-radius: 50px;
    background-color: #941515;
    font-size: 1.2rem;
    text-align: center;
    position: unset;
    min-width: 20rem;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1.2rem;
    margin-bottom: 7rem;
    transition: ease all 1s;
}

.miroshinserver a {
    color:white ;
    text-decoration: none;
}

.miroshinserver a :hover {
    color: rgb(24, 20, 20);
}

@media only screen and (max-width: 768px){
    body {
        height: 768px;
        width: 100%;
    }
    .text {
        font-size: 1.2rem;
        text-align: center;
        margin-top: 0vh;
        position: relative;
        bottom: 10px;
        border-bottom-left-radius: 20rem;
        border-bottom-right-radius: 20rem;
        min-width: 15.5rem;
        min-height: 5px;
        background-color: #941515;
    }
    .miroshinserver, .credits {
        min-width: 11rem;
        max-height: 5rem;
        text-align: center;
    }
    .big-text {
        font-weight: bold;
        font-size: 1.7rem;
    }
    .text {
        font-size: 0.7rem;
    }
    .countdown-element span {
        font-size: 0.8rem;
    }
}
